{% extends 'amrish/index.html' %}
{% load static %}
{% block title %}MyProBuddy | Event Page{% endblock %}
{% block main %}
    <div class="main__breadcrumbs breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__list-link" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__list-link" href="#">
                        Events
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <p class="breadcrumbs__list-text">
                        Big Global E-Commerce Conference 2024
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main__section-top section-top">
        <div class="container">
            <div class="section-top__inner">
                <div class="section-top__content section-top-content">
                    <p class="section-top-content__date">
                        {{event.event_title_date}}
                    </p>
                    <h1 class="section-top-content__title title">
                        {{event.event_title}}
                    </h1>
                    <ul class="section-top-content__list card-list">
                        <li class="card-list__item">
                            <p class="card-list__text">
                                New York, NY, United States
                            </p>
                        </li>
                        <li class="card-list__item">
                            <p class="card-list__text">
                                IT Education Centre
                            </p>
                        </li>
                    </ul>
                    <div class="section-top-content__buttons">
                        <a class="section-top-content__buttons-link section-top-content__buttons-link--purple"
                            href="#">
                            Add to Calendar
                        </a>
                        <a class="section-top-content__buttons-link" href="#">
                            Visit Official Website
                        </a>
                    </div>
                </div>
                <div class="section-top__img">
                    <img class="section-top__img-image" src="{%  static 'img/new/image%2085.jpg' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
    <section class="main__event event">
        <div class="container">
            <div class="event__inner">
                <section class="event__about about-event">
                    <div class="about-event__box about-event-box">
                        <h2 class="about-event-box__title">
                            About the Event
                        </h2>
                        <p class="about-event-box__text">
                            The Big Global E-Commerce Conference 2023 is set to take place in New York, bringing
                            together some of the biggest players in the industry. As one of the most anticipated
                            events in the e-commerce world, this conference promises to be an inspiring event
                            for all attendees. Attendees can expect to learn about the latest trends,
                            strategies, and technologies that are driving the e-commerce industry forward.
                        </p>
                        <p class="about-event-box__text">
                            This
                            conference will provide an excellent opportunity for attendees to network with
                            industry leaders and experts from around the world. With a wide range of keynote
                            speakers, panel discussions, and workshops, attendees will have the chance to learn
                            from some of the most knowledgeable and experienced professionals in the field. The
                            conference will also offer a platform for vendors and service providers to showcase
                            their products and services to potential clients.
                        </p>
                        <p class="about-event-box__text">
                            In addition to the educational
                            and networking opportunities, the Big Global E-Commerce Conference 2023 promises to
                            be a fun and exciting event. Attendees can look forward to social events,
                            entertainment, and other activities that will make their time in New York memorable.
                            Overall, this conference is a must-attend event for anyone involved in the
                            e-commerce industry who wants to stay ahead of the game and make valuable
                            connections.
                        </p>
                        <div class="about-event-box__images">
                            <img class="about-event-box__images-img" src="{%  static 'img/group-img-19.jpg"
                                alt="img">
                            <img class="about-event-box__images-img" src="{%  static 'img/group-img-24.jpg"
                                alt="img">
                            <img class="about-event-box__images-img" src="{%  static 'img/group-img-27.jpg"
                                alt="img">
                            <img class="about-event-box__images-img" src="{%  static 'img/group-img-28.jpg"
                                alt="img">
                        </div>
                        <p class="about-event-box__text">
                            This conference will provide an excellent opportunity for attendees to network with
                            industry leaders and experts from around the world. With a wide range of keynote
                            speakers, panel discussions, and workshops, attendees will have the chance to learn
                            from some of the most knowledgeable and experienced professionals in the field. The
                            conference will also offer a platform for vendors and service providers to showcase
                            their products and services to potential clients.
                        </p>
                        <p class="about-event-box__text">
                            In addition to the educational
                            and networking opportunities, the Big Global E-Commerce Conference 2023 promises to
                            be a fun and exciting event. Attendees can look forward to social events,
                            entertainment, and other activities that will make their time in New York memorable.
                            Overall, this conference is a must-attend event for anyone involved in the
                            e-commerce industry who wants to stay ahead of the game and make valuable
                            connections.
                        </p>
                    </div>
                    <div class="about-event__box about-event-box">
                        <h2 class="about-event-box__title">
                            Venue Map
                        </h2>
                        <div class="about-event-box__map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5580.942896395202!2d-74.20119064247119!3d40.646364222082525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24d8d40472a8d%3A0xbb866b2a9ab54b44!2sNewpark%20Estates!5e0!3m2!1suk!2sus!4v1688114345357!5m2!1suk!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </section>
                <aside class="event__aside event-aside">
                    <p class="event-aside__price">
                        $100
                    </p>
                    <div class="event-aside__box event-aside-box">
                        <h4 class="event-aside-box__title">
                            Details
                        </h4>
                        <ul class="event-aside-box__list">
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Date
                                    <span>
                                        July 14,2023
                                    </span>
                                </p>
                            </li>
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Time
                                    <span>
                                        9:30 am - 6:00 pm
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="event-aside__box event-aside-box">
                        <h4 class="event-aside-box__title">
                            Organizer
                        </h4>
                        <ul class="event-aside-box__list">
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Name
                                    <span>
                                        IT Education Centre
                                    </span>
                                </p>
                            </li>
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Email
                                    <a href="mailto:">
                                        it.edu.usa@gmail.com
                                    </a>
                                </p>
                            </li>
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Phone
                                    <a href="tel:">
                                        718-564-2971
                                    </a>
                                </p>
                            </li>
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Website
                                    <a href="#">
                                        it.educentre.com
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="event-aside__box event-aside-box">
                        <h4 class="event-aside-box__title">
                            Venue
                        </h4>
                        <ul class="event-aside-box__list">
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Place
                                    <span>
                                        Startup Offices
                                    </span>
                                </p>
                            </li>
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Location
                                    <a href="#">
                                        448 Greenwich St New York, NY 10013
                                    </a>
                                </p>
                            </li>
                            <li class="event-aside-box__list-item">
                                <p class="event-aside-box__list-text">
                                    Phone
                                    <a href="tel:">
                                        718-911-3473
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <a class="event-aside__link" href="#">
                        Buy a Ticket
                    </a>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}