{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProBuddy - Login</title>
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js' %}"></script>
</head>

<body style="overflow: hidden;">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="header__logo logo" href="#">
                    <img class="logo__img logo__rotate" src="{% static 'img/logo-img.svg' %}" alt="img">
                </a>
                <div class="header__wrapper">
                    <form class="header__search search" action="#">
                        <button class="search__btn" type="button">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11 19C15.4182 19 19 15.4183 19 11C19 6.58172 15.4182 3 11 3C6.58169 3 2.99997 6.58172 2.99997 11C2.99997 15.4183 6.58169 19 11 19Z"
                                    stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M21 21L16.65 16.65" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                        <input class="search__input" type="text" placeholder="Search...">
                    </form>
                </div>
                <form class="header__form header-form" action="#">
                    <div class="header-form__img">
                        <img class="header-form__img-image" src="{% static 'img/member-icon-3.png' %}" alt="img">
                    </div>
                    <div class="header-form__select custom-select">
                        <span style="color: white;" id="username">{{user.username}}</span>
                        <a href="signin" id="signin-btn"><span style="color: white;">SignIn</span></a>
                    </div>
                    <script>
                        if(document.getElementById('username').innerHTML===""){
                            document.getElementById('username').style.display="none";
                            document.getElementById('signin-btn').style.display="block";
                        }
                        else{
                            document.getElementById('signin-btn').style.display="none";
                            document.getElementById('username').style.display="block";
                        }
                    </script>
                </form>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <section class="main__login" style="margin:0 30%" id="login-popup">
            <div class="login__inner">
                <form class="login__form login-form" action="" method="post">
                    {% csrf_token %}
                    <div class="login-form__box login-form-box">
                        <div class="login-form-box__row">
                            <input id="su-username" name="su-username" class="login-form-box__row-input" type="text" placeholder="Username">
                        </div>
                    </div>
                    <div class="login-form__box login-form-box">
                        <div class="login-form-box__row">
                            <input id="su-email" name="su-email" class="login-form-box__row-input" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="login-form__box login-form-box">
                        <div class="login-form-box__row">
                            <input id="su-password" name="su-password" class="login-form-box__row-input" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="login-form__box login-form-box">
                        <div class="login-form-box__row">
                            <input id="confirm_password" class="login-form-box__row-input" type="password" placeholder="Confirm  Passsword">
                            <button class="login-form-box__row-btn" type="button" onclick="view_password()">
                                <svg id="open_eye" style="display: none;" width="30px" height="30px" viewBox="0 0 24 24"><path fill="white" d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0"/></svg>
                                <svg id="closed_eye" width="28px" height="28px" viewBox="0 0 16 16"><path fill="white" d="M.143 2.31a.75.75 0 0 1 1.047-.167l14.5 10.5a.75.75 0 1 1-.88 1.214l-2.248-1.628C11.346 13.19 9.792 14 8 14c-1.981 0-3.67-.992-4.933-2.078C1.797 10.832.88 9.577.43 8.9a1.619 1.619 0 0 1 0-1.797c.353-.533.995-1.42 1.868-2.305L.31 3.357A.75.75 0 0 1 .143 2.31m1.536 5.622A.12.12 0 0 0 1.657 8c0 .021.006.045.022.068c.412.621 1.242 1.75 2.366 2.717C5.175 11.758 6.527 12.5 8 12.5c1.195 0 2.31-.488 3.29-1.191L9.063 9.695A2 2 0 0 1 6.058 7.52L3.529 5.688a14.207 14.207 0 0 0-1.85 2.244M8 3.5c-.516 0-1.017.09-1.499.251a.75.75 0 1 1-.473-1.423A6.207 6.207 0 0 1 8 2c1.981 0 3.67.992 4.933 2.078c1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.11.166-.248.365-.41.587a.75.75 0 1 1-1.21-.887c.148-.201.272-.382.371-.53a.119.119 0 0 0 0-.137c-.412-.621-1.242-1.75-2.366-2.717C10.825 4.242 9.473 3.5 8 3.5"/></svg>
                            </button>
                        </div>
                        <script>
                            $('#confirm_password').on('input',function(){
                                if($('#password').val()!=$('#confirm_password').val()){
                                    $('#confirm_password').css('border-color','red');
                                }
                                else{
                                    $('#confirm_password').css('border-color','green');
                                }
                            })
                            function view_password(){
                                var password = document.getElementById('password');
                                var confirm_password = document.getElementById('confirm_password');
                                var open_eye = document.getElementById('open_eye');
                                var closed_eye = document.getElementById('closed_eye');
                                
                                if(password.type === "password"){
                                    password.type = "text";
                                    open_eye.style.display = "block";
                                    closed_eye.style.display = "none";
                                    confirm_password.type = "text";
                                }
                                else{
                                    password.type = "password";
                                    open_eye.style.display = "none";
                                    closed_eye.style.display = "block";
                                    confirm_password.type = "password";
                                }
                            }
                        </script>
                    </div>
                    <div class="login-form__bottom">
                        <a class="login-form__bottom-link" href="#">
                            Forgot Password?
                        </a>
                    </div>
                    <input class="login-form__button" type="submit" value="Register"/>
                    <div class="login-form__socials login-form-socials">
                        <p class="login-form-socials__or">
                            <span></span>
                            or
                            <span></span>
                        </p>
                        <div class="login-form__bottom">
                            <a class="login-form__bottom-link" href="signin">
                                Already have an account? click to Sign In!
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        
        <footer class="footer">
            <div class="container">
                <p class="footer__copy">
                    MyProBuddy © <span id="year"></span>. All rights reserved.
                </p>
            </div>
        </footer>
    </div>

    


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/fancybox.umd.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    
    
    
</body>

</html>